{% load staticfiles %}
{% load my_tags %}


<div class="left_menu">

    {% for category in categories_menu %}
        <p class="catalog_menu_item" style="margin-left:{{ category.nesting_level|mult:10 }}px"><a href="
        {% url 'products:category' category.id 1 %}">{{ category.name }}</a>
    {% endfor %}
    {% if user.is_superuser %}
        <a href="{% url 'myadmin:categories' %}" class="superuser_edit"><img src="{% static 'img/edit.png' %}" alt="редактировать"
                                                    title="редактировать категории в админке"></a>
    {% endif %}

</div>