<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>"Рога и копыта" - лучший магазин рогов и копыт!</title>
    <link rel="stylesheet" href="/static/css/style.css">
</head>

<body>

    <div class="container">
        <header class="header">
            <a href="/" class="logo_link"><img src="/static/img/logo.png" alt="Рога и копыта" class="logo"></a>
            <ul class="menu_list">
                <li><a class="menu_list_item" href="/">Главная</a></li>
                <li><a class="menu_list_item" href="/products/">Каталог</a></li>
                <li><a class="menu_list_item" href="/contacts/">Контакты</a></li>
            </ul>
        </header>

        <main>
            <h2 class="header_heading">Магазин "Рога и копыта"</h2>
            <h2 class="index_welcome">Добро пожаловать в наш магазин - лучший магазин рогов и копыт!</h2>
            <p class="index_splash"><a href="/products/"><img class="index_main_image" src="/static/img/stag.jpg" alt="Работник месяца" title="Перейти в каталог товаров"></a></p>
        </main>
        <footer class="footer">
            <p class="footer_text">"Рога и копыта"&copy; 2019. Все права защищены.</p>
        </footer>
    </div>

</body>

</html>
