{% extends 'mainapp/base.html' %}
{% load staticfiles %}


{% block content %}
    <div class="user_avatar"><img src="
            {% if user_profile.vk_photo %}
                {{ user_profile.vk_photo }}
            {% else %}/media/{{ user.avatar|default:'users_avatars/default.jpg' }}
            {% endif %}" alt="Фото профиля" style="max-height: 100px;">
    </div>
    <form class="form-horizontal" action="{% url 'auth:edit' %}" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <table>
            {{ edit_form.as_table }}
            {{ profile_form.as_table }}
        </table>
        <input class="form-control" type="submit" value="сохранить">
    </form>
    <button class="btn btn-round form-control last">
        <a href="{% url 'index' %}" class="">
            на главную
        </a>
    </button>

{% endblock %}