{% extends 'mainapp/base.html' %}
{% load staticfiles %}


{% block content %}
    <form class="form-horizontal" action="{% url 'auth:login' %}" method="post">
        {% csrf_token %}
        {% if next %}
            <input type="hidden" name="next" value="{{ next }}">
        {% endif %}
        <table>
            {{ login_form.as_table }}
        </table>
        <br>
        <input class="form-control" type="submit" value="войти">
    </form>
    <a href="{% url 'auth:register' %}">Или зарегистрируйтесь</a>
    <a href="/social/login/vk-oauth2/">VK</a>
{% endblock %}
