{% extends 'mainapp/base.html' %}
{% load staticfiles %}

{% block content %}

    {% if success %}
        <h3>Поздравляем!</h3>
        <br>
        <h4>Письмо для подтверждения регистрации было отправлено Вам на почту {{ email }}</h4>
        <p>Пройдите по ссылке в отправленном письме для окончания процедуры регистрации.</p>
    {% else %}
        <h3>Что-то пошло не так!</h3>
        <p>В процессе отправки сообщения подтверждения регистрации произошла непредвиденная ошибка.<br>
            Попробуйте повтороить попытку позже.</p>
    {% endif %}
    <br>

        <a href="{% url 'index' %}" class="">Вернуться на главную</a>&nbsp;
        <a href="{% url 'auth:login' %}" class="">Войти</a>


{% endblock %}