{% extends 'adminapp/base.html' %}
{% load staticfiles %}
{% load admin_tags %}
{% load my_tags %}

{% block content %}
    <div class="categories_list">
        <button class="new_category">
            <a href={% url 'myadmin:category_create' %}>
                новая категория
            </a>
        </button>

        {% for object in object_list %}
            <div class="category_record" style="margin-left: {{ object.nesting_level|mult:20 }}px; margin-bottom: 5px;">
                <div class="category_name">
                    <span style="{% if not object.is_active %}color:#777;{% endif %}">{{ object.name|title }} (уровень {{ object.nesting_level }})</span>
                </div>
                <div class="category_actions">
                    <button>
                        <a href={% url 'myadmin:products' object.pk %}>
                            товары категории ({{ object.child_products }})
                        </a>
                    </button>
                    <button>
                        <a href={% url 'myadmin:category_update' object.pk %}>
                            редактировать
                        </a>
                    </button>
                    <button>
                        <a href={% url 'myadmin:category_delete' object.pk %}>
                            удалить
                        </a>
                    </button>
                </div>
                <div class="category_desc">
                    {{ object.description|title }}
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}
