{% extends 'adminapp/base.html' %}
{% load staticfiles %}
{% load admin_tags %}

{% block content %}
    <div class="categories_list">
        <button class="new_category">
            <a href={% url 'admin:category_create' %}>
                новая категория
            </a>
        </button>

        {% for object in object_list %}
            <div class="category_record">
                <div class="category_name">
                    <span style="{% if not object.is_active %}color:#777;{% endif %}">{{ object.name|title }}</span>
                </div>
                <div class="category_actions">
                    <button>
                        <a href={% url 'admin:products' object.pk %}>
                            товары категории ({{ object|products_count }})
                        </a>
                    </button>
                    <button>
                        <a href={% url 'admin:category_update' object.pk %}>
                            редактировать
                        </a>
                    </button>
                    <button>
                        <a href={% url 'admin:category_delete' object.pk %}>
                            удалить
                        </a>
                    </button>
                </div>
                <div class="category_desc">
                    {{ object.description|title }}
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}
