{% extends 'adminapp/base.html' %}
{% load staticfiles %}

{% block content %}
    <div class="products_list">
        <button class="new_product">
            <a href={% url 'myadmin:product_create' pk %}>
                новый продукт
            </a>
        </button>

        <table class="admin_product_table">
            <tr>
                <td>Название</td>
                <td>Изображение</td>
                <td>Цена</td>
                <td>Количество</td>
                <td></td>
            </tr>
            {% for object in object_list %}
                <tr>
                    <td><img
                            src="/media/{{ object.image|default:'products_images/default.jpg' }}"
                            alt="{{ object.name }}" height="70"></td>
                    <td>{{ object.name|title }}</td>
                    <td>{{ object.price }} руб</td>
                    <td>{{ object.quantity }}</td>
                    <td>
                        <a href={% url 'myadmin:product_update' object.pk %}>редактировать</a><br>
                        <a href={% url 'myadmin:product_delete' object.pk %}>удалить</a>
                    </td>

                </tr>
            {% empty %}
               <tr>
                    <td colspan="5" align="center">Товаров нет</td>
               </tr>
            {% endfor %}
        </table>
    </div>
{% endblock %}
