{% extends 'adminapp/base.html' %}
{% load staticfiles %}

{% block content %}
    <div class="users_list">
        <button class="new_user">
            <a href={% url 'myadmin:user_create' %}>
                новый пользователь
            </a>
        </button>


        <table class="admin_product_table">
            <tr>
                <td></td>
                <td>Имя</td>
                <td>Роль</td>
                <td>Инфо</td>
                <td></td>
            </tr>
            {% for object in object_list %}
                <tr class="{% if not object.is_active %}not_active{% endif %}">
                    <td><img src="/media/{{ object.avatar|default:'users_avatars/default.jpg' }}"
                            alt="{{ object.username }}" height="70"></td>
                    <td>

                        {% if object.first_name %}
                            <b>{{ object.first_name|title }}</b>
                            {% if object.last_name %}
                                <p>{{ object.last_name|title }}</p>
                            {% endif %}
                        {% endif %}<br>
                        login: {{ object.username }}
                    </td>
                    <td>
                        {% if object.is_superuser %}
                            администратор
                        {% else %}
                            пользователь
                        {% endif %}</td>
                    <td>
                            возраст: {{ object.age }} лет<br>
                            email: {{ object.email }}<br>
                            logged: {{ object.last_login }}
                    </td>
                    <td>
                        <a href={% url 'myadmin:user_update' object.pk %}>редактировать</a><br>
                        <a href={% url 'myadmin:user_delete' object.pk %}>удалить</a>
                    </td>

                </tr>
            {% empty %}
                <tr>
                    <td colspan="5" align="center">Пользователей нет</td>
                </tr>
            {% endfor %}
        </table>
    </div>
{% endblock %}
