{% extends 'mainapp/base.html' %}
{% load staticfiles %}

{% block content %}

    <div class="content_wrapper">
        {% include 'mainapp/includes/inc_catalog_left_menu.html' %}
        <main class="content_holder">
            {% for item in items_list %}
                <a class="product_item" href="{% url 'products:products' item.pk %} ">
                    <img src="/media/{{ item.image_preview }}" alt="{{ item.name }}"/>
                    <h4>{{ item.name }}</h4>
                </a>
            {% endfor %}
        </main>
    </div>

    <div>
        <h2>Товар дня:</h2>
        <a href="{% url 'products:products' hot_product.pk %}">
            <img src="/media/{{ hot_product.image_preview }}" alt="{{ hot_product.name }}" height="200">
            <h4>{{ hot_product.name }}</h4>
            <span>{{ hot_product.price }}</span>
        </a>
    </div>

    {% for item in same_products %}
        <div class="block">
            <a href="{% url 'products:products' item.pk %}"><img src="/media/{{ item.image }}" alt=""
                                                                              height="200">
                <div class="text">
                    <h4>{{ item.name }}</h4>
                    <p>{{ item.short_desc }} </p>
                </div>
            </a>
        </div>
    {% endfor %}

{% endblock %}