{% extends 'mainapp/base.html' %}
{% load staticfiles %}
{% block title %}
    {{ title }}
{% endblock %}



{% block content %}
    <h2 class="header_heading">Магазин "Рога и копыта"</h2>
    <h2 class="index_welcome">Добро пожаловать в наш магазин - лучший магазин рогов и копыт!</h2>
    <p class="index_splash">
        <a href="{% url 'products:index' %}"><img class="index_main_image" src="{% static 'img/stag.jpg' %}"
                                  alt="Работник месяца" title="Перейти в каталог товаров"></a>
    </p>
{% endblock %}