{% extends 'mainapp/base.html' %}
{% load staticfiles %}
{% block title %}
    {{ title }}
{% endblock %}



{% block content %}

    <div class="content_wrapper">
        {% include 'mainapp/includes/inc_catalog_left_menu.html' %}
        <main>
            <h2 class="header_heading">{{ product.name }}</h2>
            <hr>
            <div class="product_wrapper">
                <a target="_blank" href="/media/{{ product.image }}"><img class="product_img_preview"
                                                                           src="/media/{{ product.image_preview }}"
                                                                           alt="{{ product.name }}"
                                                                           title="Увеличить изображение"
                                                                           height="100"></a>
                <div class="product_short_description_wrapper">
                    <h3 class="product_description mt0">Описание товара</h3>
                    <p class="product_short_description">{{ product.short_desc }}</p>
                    <span class="product_price">{{ product.price }}</span>
                    <button class="product_button_buy">Купить в один клик</button>
                </div>
                {#        <h3 class="product_description cb">Характеристики товара</h3>#}
                {#        <ul class="product_specs">#}
                {#            <li class="product_specs_item">Что это: рога</li>#}
                {#            <li class="product_specs_item">Цвет: коричневый</li>#}
                {#            <li class="product_specs_item">Размер(см): 50х30х20</li>#}
                {#            <li class="product_specs_item">Страна происхождения: Россия</li>#}
                {#            <li class="product_specs_item">Год изготовления: 1975</li>#}
                {#            <li class="product_specs_item"><b>Цена: 65 000руб</b></li>#}
                {#        </ul>#}
                {#        <table class="product_specs_table">#}
                {#            <tr>#}
                {#                <td colspan="5">Сводная таблица характеристик</td>#}
                {#            </tr>#}
                {#            <tr>#}
                {#                <td rowspan="3">размеры</td>#}
                {#                <td>ширина</td>#}
                {#                <td>50см</td>#}
                {#                <td>вес</td>#}
                {#                <td>3кг</td>#}
                {#            </tr>#}
                {#            <tr>#}
                {#                <td>высота</td>#}
                {#                <td>45см</td>#}
                {#                <td>размер</td>#}
                {#                <td>48</td>#}
                {#            </tr>#}
                {#            <tr>#}
                {#                <td>длина</td>#}
                {#                <td>35см</td>#}
                {#                <td>плотность</td>#}
                {#                <td>2700кг/м<sup>3</sup></td>#}
                {#            </tr>#}
                {#        </table>#}

                <h3 class="product_description">Подробное описание товара</h3>
                <p class="product_full_description">{{ product.description }}</p>
            </div>
        </main>
    </div>
{% endblock %}