{% extends 'mainapp/base.html' %}
{% load staticfiles %}
{% block title %}
    {{ title }}
{% endblock %}



{% block content %}

    <div class="content_wrapper">
        {% include 'mainapp/includes/inc_catalog_left_menu.html' %}
        <main>

            {% if user.is_superuser %}
                <a href="{% url 'myadmin:product_update' product.pk %}" class="superuser_edit"><img src="{% static 'img/edit.png' %}"
                                                                                   alt="редактировать"
                                                                                   title="редактировать категории в админке"></a>
            {% endif %}

            <h2 class="header_heading">{{ product.name }}</h2>
            <hr>
            <div class="product_wrapper">
                <a target="_blank" href="/media/{{ product.image }}"><img class="product_img_preview"
                                                                          src="/media/{{ product.image_preview }}"
                                                                          alt="{{ product.name }}"
                                                                          title="Увеличить изображение"
                                                                          height="100"></a>
                <div class="product_short_description_wrapper">
                    <h3 class="product_description mt0">Описание товара</h3>
                    <p class="product_short_description">{{ product.short_desc }}</p>
                    <span class="product_price">{{ product.price }}</span>
                    <a href="{% if user.is_authenticated %}#{% else %}{% url 'basket:add' product.pk %}{% endif %}"
                       id="addToBasketButton" data-product-id="{{ product.pk }}">Добавить в корзину</a>
                </div>

                <h3 class="product_description">Подробное описание товара</h3>
                <p class="product_full_description">{{ product.description }}</p>
            </div>
        </main>
    </div>
{% endblock %}

{% if user.is_authenticated %}
    {% block js %}
        <script src="{% static 'js/product_addToBasket.js' %}"></script>
    {% endblock %}
{% endif %}